.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
}


.aboutProfile {
  /* border: 2px solid red; */
  width: 35%;
}
.aboutProfile img {
  width: 80%;
}

.aboutDetails {
  /* padding: 1rem 2rem;/ */
  height: 100%;
  padding-left: 3rem;
}
.aboutCards {

  height: 100%;
  display: grid ;
  grid-template-columns: repeat(2, 1fr);

}

.aboutDescription {
  margin: 0.025rem 0 1rem;
}

.downloadBtn {
  width: fit-content;
  padding: 0.85rem 1.85rem;
}

@media screen and (max-width: 1025px) {
  .aboutProfile img {
    width: 70%;
  }
  .aboutDetails {
    padding: 1rem;
  }
}

@media screen and (max-width: 426px) {
  .aboutContent
  {
    flex-direction: column;
  }
  .aboutContent > div {
  width: 100%;
}
.aboutProfile
{
  display: none;
}
  .aboutProfile img {
    width: 70%;
  }
  .aboutDetails {
    padding: 1rem;
  }
}
