.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContent > div {
  width: 50%;
}

.aboutProfile {
  width: 50%;
  text-align: center;
}
.aboutProfile img {
  width: 50%;
}

.aboutDetails {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}
.aboutCards {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0rem 0 1rem;
}

.aboutDescription {
  margin: 0.025rem 0 1rem;
}

.downloadBtn {
  width: fit-content;
  padding: 0.85rem 1.85rem;
}

@media screen and (max-width: 1025px) {
  .aboutProfile img {
    width: 70%;
  }
  .aboutDetails {
    padding: 1rem;
  }
}

@media screen and (max-width: 426px) {
  .aboutContent
  {
    flex-direction: column;
  }
  .aboutContent > div {
  width: 100%;
}
.aboutProfile
{
  display: none;
}
  .aboutProfile img {
    width: 70%;
  }
  .aboutDetails {
    padding: 1rem;
  }
}
