.gitContainer {
  padding: 4rem 0;
}
.gitInsider {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.gitInsider .paraHeading {
  font-weight: 600;
  margin: 2rem 0;
}
.ttmContainer {
  text-align: center;
  width: 28%;
}
.ttmBox {
  text-align: center;
  width: 100%;
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 0.85rem 0;
}
.writeMessageContainer {
  width: 50%;
  height: auto;
  align-self: stretch;
  height: auto;
}
.writeMessageContainer .paraHeading {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.inputBox {
  position: relative;
  border: 2px solid rgb(177, 177, 177);
  border-radius: 0.5rem;
  padding: 0.15rem;
  margin: 1rem 0;
}
.inputBox label {
  position: absolute;
  background-color: var(--white_color);
  padding: 5px 15px;
  left: 15px;
  top: -13px;
}
.inputBox input,
.inputBox textarea {
  padding: 0.85rem 1rem;
  border: none;
  width: 100%;
  background-color: transparent;
  outline: none;
}

.inputBox input:active {
  outline: none;
  border: none;
}

.buttonBoxForm {
  display: flex;
  justify-content: end;
  
}
.buttonBoxForm button:hover
{
  cursor: pointer;
  background-color: var(--light_dark_color);
}

@media screen and (max-width: 769px) {
  .gitInsider {
    flex-direction: column;
  }
  .ttmContainer {
    text-align: center;
    width: 100%;
  }
  .ttmBox {
    width: 100%;
  }
  .writeMessageContainer {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .gitContainer
  {
    padding: 2rem 0;
  }
}

