
.blodDivPostion
{
  position: relative;
}
.blobDiv
{
  position: absolute;
  display: none;
  --size: 100px;
  width: var(--size);
  height: var(--size);
  bottom: 0;
  right: -0;
  border-radius:70% 50% 20% 70% / 60% 40% 60% 50%; ;
  background-color: #d57304de;
  box-shadow: -0px -0px 0 10px #d5730470,  -0 -0 0 20px #d573044e;
}
.heroPage {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}

.heroDetails {
  width: 50%;
  padding-right: 1rem;
}

.aboutInShort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.horizontalLine {
  width: auto;
  height: 2px;
  background-color: var(--alter_color);
}
.aboutInShort .paraHeading {
  font-weight: 600;
  color: var(--light_dark_color);
  margin: 0.15rem 0;
}
.heroDescription {
  margin: 0 0 1.25rem;
  color: var(--grayish_color);
}

.sayHelloBtn {
  width: fit-content;
  padding: 0.85rem 2.15rem;
}

.heroProfile {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}




.imageOuterDiv img {
  animation: blobAnimate 8s ease-in-out infinite;
  width: 70%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  position: relative;
  box-shadow: 0px 0px 0  8px  #ccccccf2;
}

@keyframes blobAnimate {
  0%, 100%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% ;
  }
  50%{
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60% ;
  }
}

.socialMediaHandlers {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: -40px;
}
.socialMediaHandlers a {
  padding: 0.15rem;
  color: inherit;
  margin: 0.35rem 0;
}
.socialMediaHandlers a .svgIcon {
  font-size: 1.15rem;
}

.mobileSMHandlers {
  display: none;
}

@media screen and (max-width: 1025px) {
  .heroDetails
  {
    width: 60%;
  }
  .heroProfile
  {
    width: 40%;
  }
  .horizontalLine {
    width: 20%;
  }
  .imageOuterDiv {
    width: 100%;
    /* overflow: hidden; */
    /* border: 2px solid red; */
  }
  .imageOuterDiv img
  {
    width: 100%;
  }
}
@media screen and (max-width: 769px) {
  .horizontalLine {
    width: 10%;
  }
  .heroPage {
    height: 100%;
    padding: 25vh 0 18vh;
  }
  .mobileSMHandlers {
    display: block;
    position: static;
    margin: 0.25rem 0;
  }
  .largeScreenSMHandlers
  {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .horizontalLine {
    width: 10%;
    display: none;
  }
  .heroPage {
    height: 100%;
    padding: 10vh 0 8vh ;
    flex-direction: column;
  }
  .heroDetails {
    width: 100%;
    padding: 1rem;
  }
  .heroProfile
  {
    margin-top: 2rem;
    width: 100%;
  }
  .imageOuterDiv img
  {
    width: 80%;
  }

}
