.cardContainer
{
    position: relative;
    padding: 1.5rem 3.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1px black;
    text-align: center;
    transition: all 0.25s ease;
}


.cardContainer:hover
{
    background-color: rgb(130, 130, 130);
}
.cardContainer .para
{
    margin: 0.05rem 0;
}
.cardContainer:hover .tinyText 
{
    color: white;
}