.cardContainer
{
    position: relative;
    padding: 1.5rem 2.35rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1px black;
    transition: all 0.25s ease;
}


.cardContainer:hover
{
    background-color: rgb(130, 130, 130);
}
.cardContainer:hover .tinyText 
{
    color: white;
}