.header {
  display: flex;
  padding: 1rem 10rem;
  width: 100vw;
  position: fixed;
  left: 0;
  background-color: var(--white_color);
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .logo {
  color: var(--alter_color);
  display: inline;
}
.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.navLinks li {
  margin: 0 0.15rem;
  font-weight: 600;
  text-transform: capitalize;
}
.navLinks li a {
  padding: 0 1.25rem;
  color: inherit;
  text-decoration: none;
}
.activeLink {
  color: var(--alter_color);
}

.hamburgerMenu {
  display: none;
}
@media screen and (max-width: 1025px) {
  .header {
    display: flex;
    padding: 1rem 5rem;
    width: 100vw;
  }
}
@media screen and (max-width: 769px) {
  .header {
    display: flex;
    padding: 1rem 2rem;
    width: 100vw;
    position: fixed;
  }
  .hamburgerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
  }
  .hamburgerMenu .hamLine {
    --wsize: 25px;
    --hsize: 3px;
    width: var(--wsize);
    height: var(--hsize);
    background-color: var(--grayish_color);
    margin: 3px 0 0;
    z-index: 1000;
    transition: all 0.25s ease;
    border-radius: 0.15rem;
  }
  .activeHamburgerLines .secondHamLine{
    opacity: 0;
  }
  .activeHamburgerLines .firstHamLine
  {
    transform: rotate(45deg);
    transform-origin: top left;
  }
  .activeHamburgerLines .thirdHamLine
  {
    transform: rotate(-45deg) translate(-5px, 2px);
    transform-origin: top left;
  }
  .mobileMode {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background-color: var(--dark_color);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    color: var(--white_color);
    font-size: var(--medium_heading);
    transition: all 0.25s ease;
  }
  .openNavLinks {
    left: 0%;
  }
  .mobileMode li {
    width: 100%;
    text-align: center;
  }
  .mobileMode li a {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid var(--grayish_color);
  }
}
